body {
  background-image: url("../img/pixel_beach.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.mygame {
  font-family: "Indie Flower", cursive;
}

.disabled {
  pointer-events: none;
  filter: grayscale(100%);
}

.enabled {
  filter: grayscale(0%);
  pointer-events: all;
}

.game {
  margin-top: 10px;
  margin-bottom: 10px;
  border: black 1px solid;
  border-radius: 20px;
  box-shadow: 50px;
  margin-left: auto;
  margin-right: auto;
}

.bg-white-left {
  background-color: white;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.bg-white-right {
  background-color: white;
  border-top-right-radius: 20px;
  border-bottom: 1px solid gray 
}

.border-sinistra{
  border-left: 1px solid gray
}

.game p {
  font-weight: bold;
  font-size: 18px;
}

.game-canvas {
  background: transparent; /* background: url('../img/marinelittersources.jpg') center */
}

.img-fluid {
  margin-bottom: 15px;
}

.action {
  border: gray 1px solid;
  border-radius: 20px;
  margin-bottom: 5px;
  margin-left: 5px;
  background: white;
}

.action:hover {
  background: rgba(189, 186, 186);
}
